* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 90px;
    background-color: #f8f9fa;
    margin-top: 40px;
    box-sizing: border-box;
}
.container .header h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-top: 40px;
    padding-left: 20px;
    
}


.container .subheader p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#FF6500;
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container .list{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#080a3c;
    font-size: 15px;
    padding-left: 50px;
}

.container .list span{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;   
}
.faq-item {
    cursor: pointer;
    padding: 10px;

}

.faq-answer {
    display: none;
    padding-top: 10px;
}


.faq-item i {
    margin-right: 10px;
    transition: transform 0.3s;
}

.faq-item.active i {
    transform: rotate(45deg);/
}


.header h2 {
    font-size: 24px;
    color: navy;
}

.span1 {
    font-size: 22px;
    /*adjust the font size as needed in questions */
    color: #2c3e50;
}

.faq-item i {
    font-size: 20px;
    /* Adjust the icon size to match the text size */
    vertical-align: middle;
    /* Align the icon with the text */
    color: #2c3e50;
}

.faq-answer {
    background-color: white;
    border-radius: 5px;
    margin-left: 36px;
    padding: 25px;
}

.faq-answer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #2c3e50;
    border-radius: 5px;
    margin-left: 36px;
    padding: 25px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}


.span1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.span2 {
    color: navy;
    font-weight: 600;
}

.pstyle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: navy;

}




/* i {
    color: #2c3e50;
} */

.faq-item.active i {
    color: rgb(15, 239, 183);
}

.span1 {
    color: #2c3e50;
}

.faq-item.active .span1 {
    color: rgb(15, 239, 183);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .container .header h2 {
        font-size: 20px;
    }

    .container .subheader p {
        font-size: 18px;
    }

    .container .list {
        font-size: 14px;
    }
    .faq-item {
        font-size: 14px;
    }           
    
}