@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

.testimonial {
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

.testimonial .hod h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1C1678;
    justify-content: center;
    align-items: center;
    display: flex;
}

.testimonial .testimonials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
    max-width: 1600px;
}
.testimonial .testimonials .testimonial-item div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.testimonial .testimonials .testimonial-item div img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-bottom: 10px;
    clip-path: circle(50% at 50% 50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial .testimonials .testimonial-item {
    background: #fff;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.testimonial .testimonials .testimonial-item p {
    font-size: 14px;
    color: #1C1678;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.testimonial .testimonials .testimonial-item h3 {
    color: #02383C;
}

@media (max-width: 1024px) {
    .testimonial .testimonials {
        gap: 20px;
    }

    .testimonial .testimonials .testimonial-item {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .testimonial .testimonials {
        gap: 20px;
        padding: 10px;
    }

    .testimonial .testimonials .testimonial-item {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .testimonial .hod h1 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {

    .testimonial .hod {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 10px;
    }


    .testimonial .hod h1 {
        font-size: 24px;
        margin: 0;
        width: 100%;

    }


    .testimonial .testimonials .testimonial-item {
        width: 100%;
        padding: 15px;
        height: auto;
    }

    .testimonial .testimonials .testimonial-item p {
        font-size: 12px;
    }
}