@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.house-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    flex-direction: column;

}


.house-container .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: -50px;
    left: 0;

}

.house-container .search-bar {
    position: relative;
    top: -500px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 0 20px;
}

.house-container .search-bar input {
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FF6500;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
    color: #FF6500;
    text-decoration-color: #FF6500;
}

.house-container .search-bar input::placeholder {
    color: #FF6500;
    font-size: 16px;
    font-weight: 300;
}

.house-container .search-bar button {
    width: 100px;
    height: 50px;
    background-color: #FF6500;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.house-details {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
}

.house-details h1 {
    font-size: 35px;
    font-weight: 400;
    color: #080a3c;
    margin-bottom: 30px;
}
.house-details .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: #f9f9f9;
    
    
}

.house-details .card-container .house-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 400px;
    margin: 30px;
    flex-basis: calc(25.25% - 20px);

}
.house-details .card-container .house-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.house-details .card-container .house-card h2 {
    font-size: 20px;
    font-weight: 700;
    color: #080a3c;
    margin-bottom: 10px;
}

.house-details .card-container .house-card p {
    font-size: 16px;
    font-weight: 500;
    color: #080a3c;
    margin-bottom: 5px;
}

.house-details .card-container .house-card button {
    width: 100%;
    height: 30px;
    background-color: #FF6500;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.house-details .card-container .house-card .rs{
    font-size: 20px;
    font-weight: 700;
    color: #0bc721;
    margin-bottom: 5px;
}

